body {
  background-color: gainsboro;
  #canvas {
    width: 450px;
    overflow: hidden;
  }
}

svg {
  margin: 40px;
  overflow: visible;
  margin-top: 10px;
}

marquee {
  font-size: 30px;
}

img {
  object-fit: scale-down;
  height: 100px;
  width: 100%;
}