body {
  background-color: gainsboro;
  #canvas {
    width: 450px;
    overflow: hidden;
  }
}

svg {
  margin: 40px;
  overflow: visible;
  margin-top: 10px;
}

marquee {
  font-size: 30px;
}

img {
  object-fit: scale-down;
  height: 100px;
  width: 100%;
}

tbody {
  display:block;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-collapse: separate;
  border-spacing: 4px;
}